{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salas</title>
    {% include 'estilos.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
{% include 'navbar.html' %}
<div class="content-wrapper">
<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Salas</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 style="font-size: 15px">Cuadros con cada tabla del hospital</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            Footer
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>



<!--
<header>
    <h1>Salas</h1>
</header>
<main>
    <ul>
        <li>Numero de sala</li>
        <li>Funcion de la sala</li>
        <li>pacientes dentro de la sala</li>
    </ul>
</main> -->
{% include 'javascript.html' %}
</body>
</html>